*{
    box-sizing: border-box;
}
.box1{
    position: relative;
    max-width: 200px;
    height:200px;
    margin: auto;
    background: url("https://picsum.photos/100/100?image=0") top center;
    background-size: cover;
}

.box2{
    position: relative;
    max-width: 200px;
    height:200px;
    margin: auto;
}
.box2 img{
    width: 100%;
}
